{% extends "dash/coord.html" %}

{% load staticfiles %}

{% block content %}
<div class="row-fluid"> 
    <center>
    <div class="span3 sidebar" id="id_content_left">
        <!-- Left content holds the sidebar-nav -->
        <ul class="nav nav-tabs nav-stacked sidenav affix-top">
          <li class="active">
              <a href="{% url finance.views.home %}"><i class="icon-chevron-right"></i>Finance</a>
          </li>
          <li>
            <a href="{% url dash.views.dash_view %}"><i class="icon-chevron-right"></i> Dashboard </a>
          </li>
        </ul>
    </div>

    <div class="span9" id="id_content_right">
        <h2>Welcome to the Finance Portal!</h2>
        <br />
        <div class = "row-fluid">
            <a href="{% url finance.views.budgeting %}" class="btn btn-primary btn-large offset2 span2">Budgeting&raquo;</a>
            <a href="{% url finance.views.vouchers %}" class="btn btn-primary btn-large span2">Vouchers&raquo;</a>
            <a href="{% url finance.views.advances %}" class="btn btn-primary btn-large span2">Advances&raquo;</a>
            <a href="{% url finance.views.payments %}" class="btn btn-primary btn-large span2">Payments&raquo;</a>
        
            <!-- <br>(FOR TESTING ONLY<br>
            <a onclick="javascript:do_dajax(Dajaxice.finance.newpayment_get, Dajax.process, {}, 'id_modal');">New Payment</a>
            <br>
            <a onclick="javascript:do_dajax(Dajaxice.finance.newvoucher_get, Dajax.process, {}, 'id_modal');">New Voucher</a>
            <br><a onclick="javascript:do_dajax(Dajaxice.finance.newadvance_get, Dajax.process, {}, 'id_modal');">New Advance</a>
            <br><a onclick="javascript:do_dajax(Dajaxice.finance.newvoucher_get, Dajax.process, {'vendorid' : '1'}, 'id_modal');">New Voucher for Vendor with ID = 1</a>
            <br>PLEASE REMOVE AFTER TESTING) -->
        </div>

    </div>
    </center>
</div>
{% endblock %}