
table { 
    width : 80%;
    border : 0;
    border-spacing : 0;
}

table a {
    color : #000000;
}

table a:hover {
    color : #888888;
}

table {
    padding : 0;
    text-align : center;
}
table thead tr th, 
table thead tr td,
table tbody tr th,
table tbody tr td {
    text-align : center;
}

#button_table_you,
#button_table_subdept,
#button_table_dept,
#button_table_pending,
#button_table_cross {
    float : left;
    width : 70%;
}

.button_in_table {
    display : none;
}

.btn-group > .btn {
    color : #ffffff;
}

.sidenav {
    
}

.nav-tabs.nav-stacked.sidenav > li.active > a {
    /*text-shadow: 0  3px 0 rgba(0, 0, 0, 0.2);*/
    color : #ffffff;
    background-color: #0088cc;
    
}

.sidenav > li.sidenav_head > a {
    text-shadow: 0  3px 3px rgba(0, 0, 0, 0.3);
    background-color: #666666;
    color : #ffffff;
}

.nav-tabs.nav-stacked.sidenav > li.active_head > a {
    color : #ffffff;
    background-color: #8888cc;
    
}


