{% extends "base.html" %}

{% load staticfiles %}

{% block extrastyle %}
	<link href="{% static 'dash/supercoord/supercoord.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'dash/sidenav.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'dash/table_style.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'css/jui_themes/smoothness/jquery-ui-1.10.3.custom.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'dash/content.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block extrascripts %}
    <script src="{% static 'js/jquery-ui-1.10.3.custom.js' %}"></script>
    <script src="{% static 'dash/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dash/content.js' %}"></script>
    <script src="{% static 'dash/supercoord/supercoord.js' %}"></script>
    <!-- <script src="{% static 'dash/dataTables.bootstrap.js' %}"></script> JQuery UI looks better than bootstrap version-->
{% endblock %}

{% block content %}
    
    <!-- Docs nav
    ================================================== -->
    <div class="row-fluid"> <center>
      <div class="span3 sidebar" id="id_content_left">
        <!-- Left content holds the sidebar-nav -->
        {% comment %}
            The processing done by show_page : 
                It automatically changes the sidebar option to active.
                It automatically  enables a data-table and date-picker
                (date-picker needs to be implemented)
                
                It uses a set of pre-determined ids to do this.
            
            Convention :
                If the list has an id : "list_abcdef", the top div in 
                the rendered page (by dajax) should have the id "abcdef".
                
                If the list has an id : "list_table_abcdef", the top div 
                should have "table_abcdef" as id. And the "table_" keyword
                is used to enable data-table in the first table seen in the 
                div which is rendered (by dajax)
                
                If the list has an id : "list_form_abcdef", the top div 
                should have "form_abcdef" as id. And the "form_" keyword
                is used to enable date-picker in any input tag with class 
                date picker ... needs to be implemented
        {% endcomment %}
        <ul class="nav nav-tabs nav-stacked sidenav affix-top">
          <li id="list_table_you" class="active">
            <a href="#" onclick="javascript:do_dajax(Dajaxice.tasks.task_table, show_page, {'page' : this.parentNode.id.substring('list_'.length)}, 'id_content_right')">
              <i class="icon-chevron-right"></i> Your Tasks 
            </a>
          </li>
          <li id="list_table_dept" class="">
            <a href="#" onclick="javascript:do_dajax(Dajaxice.tasks.task_table, show_page, {'page' : this.parentNode.id.substring('list_'.length)}, 'id_content_right')">
              <i class="icon-chevron-right"></i> {{ userprofile.dept }} Tasks 
            </a>
          </li>
          <li id="list_form_new_task" class="">
            <a href={% url tasks.views.add_intra_task %}>
              <i class="icon-chevron-right"></i> Create Task 
            </a>
          </li>
        </ul>
      </div>
    
      <div class="span9" id="id_content_right"> <!-- Content -->
        {% comment %}
            Will hold the content which needs to be shown based on content_left.
            Note : 'modal_hide();' is a javascript function that is defined in base.js
                    which will close any modal open and refresh this div based
                    on which sidenav li is active
        {% endcomment %}
      </div> <!-- End of content -->
    </center>
    </div> <!-- End of row -->
    <script>modal_hide()</script> <!-- display table you at the end -->
           
{% endblock %}
