{% load staticfiles %}

<title> {{title}} </title>
<h1>{{title}}</h1>
<p>
<span style="color:green">{{msg_success}}</span>
<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
<div class="control-group">
{% csrf_token %}
{% if messages %}
<ul>
{% for message in messages %}
<li>{{message}}</li>
{% endfor %}
</ul>
{% endif %}

{% if form.errors %}<p style="color:red">Error in form:{{flag_str}}</p>{% endif %}
<table>
{{ form.as_table }}
</table>
</div>
<p><input type="submit"  /></p>
</form>
</p>
