{% load staticfiles %}
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
<link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet" media="screen">

<title> {{title}} </title>
<h1>{{title}}</h1>
<div class="well">
<p>
<span style="color:green">{{msg_success}}</span>
<span>
<b><u>Note:</b></u><br/>
<ol>
<li>File must be of type <u><b><u>csv</b></u></u>.<br/>
{% if isbarcode %}
<li>If barcode portal,<br/><ul>
    <li>First Row must be named (A1 cell) <b><u>SHAASTRA ID</b></u>      and A2 cell <b><u>BARCODE</b></u></li>
    <li>Click <a href="/media/barcode_format.csv">here</a> for format..it should be exactly in the same format</li>
    <li>Do NOT swap the columns</li>
    <li>Save with delimiter as 'comma' if asked by your spreadsheet editor</li>
    <li>Barcode is from passport</li>
    <li>Go to <a href="erp.shaastra.org/media/barcode.csv">erp.shaastra.org/media/barcode.csv</a> for barcode and shaastra ID excel sheet live!</li>
</ul>
</li>
{% else %}
<li>If participant portal,<br/><ul>
    <li>First Row must be named (A1 cell) <b><u>BARCODE</b></u></li>
    <li>Click <a href="/media/participant_format.csv">here</a> for format..it should be exactly in the same format</li>
    <li>Go to <a href="erp.shaastra.org/media/barcode.csv">erp.shaastra.org/media/barcode.csv</a> for barcode and shaastra ID excel sheet live!</li>
    </ul>
</li>
<li> Also, choose the event carefully.It cannot be undone.</li>
{% endif %}
{% if messages %}<br/>
<ul>
<span style="color:red">
{% for message in messages %}
<li>{{message}}</li>
{% endfor %}
</ul>
{% endif %}
</span>
<form action="" method="post" id ="Portal_Form" enctype="multipart/form-data" class="form-horizontal">
{% csrf_token %}
<div class="control-group">
{% if form.errors or eventForm.errors %}<p style="color:red">Error in form:{{flag_str}}</p>{% endif %}
<br/><br/>
<table>
{{ form.as_table }}
{% ifequal title "Participant's Portal" %}
{{ eventForm.as_table }}
<br/>
<span> You need not fill in the column name entry if you have standard format </span>
{% else %}
{% endifequal %}
</table>
</div>
<p><input type="submit"  /></p>
</form>
</p>
</div>
