
<!-- Extra styles -->

<!-- Extra scripts -->

<!-- Content -->
<center>
  <div class="modal-header">
    <button type="button" class="close" onclick="javascript:modal_hide()">&times;</button>
    <h3>Contact Us:</h3>
  </div>

  <div class="modal-body">
    <h4><u>Web-Operations Cores:</u></h4>
    <br />
    <p><strong>Champi Basak:</strong> +919962247480</p>
    <p><strong>Varshaa Naganathan:</strong> +919940070478</p>
    <br />
    <!-- Or you can just contact Samir or Viswa :P -->
    <p><h5>Email us for bugs, queries or if you're feeling lonely:</h5> shaastra@shaastra.org
    <br />
  </div>

  <div class="modal-footer">
    <h6> You can try Deep Thought too, but I don't think 42 is of much help. </h6>
  </div>
</center>
