{% extends "base.html" %}

{% load staticfiles %}

{% block extrastyle %}
    <link href="{% static 'dash/coord/coord.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'dash/sidenav.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'dash/table_style.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'dash/datatables/TableTools.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'dash/datatables/TableTools_JUI.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/jui_themes/smoothness/jquery-ui-1.10.3.custom.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'dash/content.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block extrascripts %}
    <script src="{% static 'js/jquery-ui-1.10.3.custom.js' %}"></script>
    <script src="{% static 'dash/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dash/datatables/TableTools.js' %}"></script>
    <script src="{% static 'dash/datatables/ZeroClipboard.js' %}"></script>
    <script src="{% static 'dash/content.js' %}"></script>
    <script src="{% static 'dash/coord/coord.js' %}"></script>
    <!-- <script src="{% static 'dash/dataTables.bootstrap.js' %}"></script> 
        JQuery UI looks better than bootstrap version-->
{% endblock %}

{% block content %}

<div class="row-fluid"> 
    <center>
    <div class="span3 sidebar" id="id_content_left">
        <!-- Left content holds the sidebar-nav -->
        <ul class="nav nav-tabs nav-stacked sidenav affix-top">
          <li class="active">
          <a href="{% url hospi.views.home %}"><i class="icon-chevron-right"></i>ControlRoom Portal</a>
          </li>
          <li>
            <a href="{% url dash.views.dash_view %}"><i class="icon-chevron-right"></i>Dashboard</a>
          </li>
        </ul>
    </div>
    <div class="span9" id="id_content_right">
        {% if msg %}
        <h4>{{msg}}</h4>
        {% endif %}
        <div class="tabbable" id="navs">
            <ul class="nav nav-tabs">
                <li id="list_roommap" class="active" ><a href="#tab1" data-toggle ="tab">RoomMap</a></li>
                <li id="list_add_room"><a href="#tab2" data-toggle="tab" onclick="javascript:do_dajax(Dajaxice.hospi.addroom, Dajax.process)">Add Room</a></li>
                <li id="list_checkin"><a href="#tab3" data-toggle="tab" onclick="javascript:do_dajax(Dajaxice.hospi.checkin, Dajax.process)">CheckIn</a></li>
                <li id="list_checkout"><a href="#tab4" data-toggle="tab" onclick="javascript:do_dajax(Dajaxice.hospi.checkout, Dajax.process)">Checkout</a></li>
                <li id="list_remove"><a href="#tab5" data-toggle="tab" onclick="javascript:do_dajax(Dajaxice.hospi.remove, Dajax.process)">Remove Room</a></li>
                <li id="list_createteam"><a href="#tab6" data-toggle="tab" onclick="javascript:do_dajax(Dajaxice.hospi.choose, Dajax.process)">Create Team</a></li>
                <li id="list_teamcheckin"><a href="#tab7" data-toggle="tab" onclick="javascript:do_dajax(Dajaxice.hospi.team, Dajax.process)">Team Checkin</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <div class="modal hide" id="id_modal">
                    </div>
                    <a class="btn btn-info btn-lg pull-left" href="#" onclick="javascript:do_dajax(Dajaxice.hospi.roommap,Dajax.process,{'hostel_name':'Alakananda'},'id_modal')">Alakananda</a>
                    <a class="btn btn-info btn-lg " href="#" onclick="javascript:do_dajax(Dajaxice.hospi.roommap,Dajax.process,{'hostel_name':'Ganga'},'id_modal')">Ganga</a><br/><br/>

                    <a class="btn btn-info btn-lg pull-left" href="#" onclick="javascript:do_dajax(Dajaxice.hospi.roommap,Dajax.process,{'hostel_name':'Jamuna'},'id_modal')">Jamuna</a>                    
                    <a class="btn btn-info btn-lg" href="#" onclick="javascript:do_dajax(Dajaxice.hospi.roommap,Dajax.process,{'hostel_name':'Mahanadhi'},'id_modal')">Mahanadhi</a><br/><br/>
                    <a class="btn btn-info btn-lg pull-left" href="#" onclick="javascript:do_dajax(Dajaxice.hospi.roommap,Dajax.process,{'hostel_name':'Mandak'},'id_modal')">Mandakini</a>                    
                    <a class="btn btn-info btn-lg" href="#" onclick="javascript:do_dajax(Dajaxice.hospi.roommap,Dajax.process,{'hostel_name':'Pampa'},'id_modal')">Pamba</a><br/><br/>                    
                    <a class="btn btn-info btn-lg pull-left" href="#" onclick="javascript:do_dajax(Dajaxice.hospi.roommap,Dajax.process,{'hostel_name':'Sindhu'},'id_modal')">Sindhu</a>
                    <a class="btn btn-info btn-lg" href="#" onclick="javascript:do_dajax(Dajaxice.hospi.roommap,Dajax.process,{'hostel_name':'Tambi'},'id_modal')">Tamraparani</a><br/><br/>                    
                    <a class="btn btn-info btn-lg pull-left" href="#" onclick="javascript:do_dajax(Dajaxice.hospi.roommap,Dajax.process,{'hostel_name':'Saras'},'id_modal')">Saraswathi</a>
                    <a class="btn btn-info btn-lg" href="#" onclick="javascript:do_dajax(Dajaxice.hospi.roommap,Dajax.process,{'hostel_name':'Brahmaputra'},'id_modal')">Brahmaputra</a><br/><br/>
                    <a class="btn btn-info btn-lg pull-left" href="#" onclick="javascript:do_dajax(Dajaxice.hospi.roommap,Dajax.process,{'hostel_name':'Godavari'},'id_modal')">Godavari</a>                  
                    <a class="btn btn-info btn-lg" href="#" onclick="javascript:do_dajax(Dajaxice.hospi.roommap,Dajax.process,{'hostel_name':'Sharav'},'id_modal')">Sharavati</a><br/><br/>                
                    <a class="btn btn-info btn-lg pull-left" href="#" onclick="javascript:do_dajax(Dajaxice.hospi.roommap,Dajax.process,{'hostel_name':'Tapti'},'id_modal')">Tapti</a>
                    <a class="btn btn-info btn-lg " href="#" onclick="javascript:do_dajax(Dajaxice.hospi.roommap,Dajax.process,{'hostel_name':'Narmada'},'id_modal')">Narmada</a><br/><br/>
                    <a class="btn btn-info btn-lg pull-left" href="#" onclick="javascript:do_dajax(Dajaxice.hospi.roommap,Dajax.process,{'hostel_name':'Krishna'},'id_modal')">Krishna</a>
                    <a class="btn btn-info btn-lg " href="#" onclick="javascript:do_dajax(Dajaxice.hospi.roommap,Dajax.process,{'hostel_name':'Cauvery'},'id_modal')">Cauvery</a><br/><br/>
                </div>
                <div class="tab-pane" id="tab2">
                                    </div>
                <div class="tab-pane" id="tab3">
                </div>
                <div class="tab-pane" id="tab4">
                </div>
                <div class="tab-pane" id="tab5">
                </div>
                <div class="tab-pane" id="tab6">
                </div>
                <div class="tab-pane" id="tab7">
                </div>
            </div>
        </div>

        {% endblock %}
