{% load staticfiles %}

<!-- Extra styles -->

<!-- Extra scripts -->

<!-- Content -->
<div id="table_you" class="span11">
  <p><h3>Tasks assigned to you:</h3> </p>
  <p>
    <table class="table table-bordered table-hover display" id="table_you" width="100%">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Creator</th>
          <th>Date Created</th>
          <th>Deadline</th>
          {% comment %}
            All 'th' with class button_in_table are not shown on the screen 
            If the corresponding tr has a btn-gtoup, it's innerHTML and 
            href are taken to the topbar of the table.
            
            This is done as js cannot get the task.id in any other simple way
            Currently : edit, del, status, deptSubtask, crossSubtask are 
                searched for, if others need to be added, js needs to be changed in show_table
                in templates/tasks/content.js
            
          {% endcomment %}
          <th class="sorttable_nosort button_in_table">Options</th>
          <th class="sorttable_nosort button_in_table">Add a subtask for</th>
        </tr>
      </thead>
      <tbody>
        {% for task in user_tasks %}
          <tr>
            <td><a href="#" onclick="javascript:do_dajax(Dajaxice.tasks.display_task_get, Dajax.process, {'primkey':{{task.pk}}}, 'id_modal');">{{task.subject}}</a></td>
            <td>
              <a href="#" onclick="javascript:do_dajax(Dajaxice.users.display_profile, Dajax.process, {'userid':{{task.taskcreator.user.get_profile.id}}}, 'id_modal');">
                {{task.taskcreator.user.first_name}} {{task.taskcreator.user.last_name}}
              </a>
            </td>
            <td>{{task.datecreated}}</td>
            <td>{{task.deadline}}</td>
            <td class='button_in_table'>
              <div class="btn-group">
                <a class="btn button_in_table_status" href="javascript:do_dajax(Dajaxice.tasks.upgrade_task, Dajax.process, { 'primkey':'{{task.id}}' }, 'id_content_right');">Upgrade task status to next level</a>
                </div>
            </td>
            <td class='button_in_table'>
              <div class="btn-group">
                </div>
            </td>
          </tr>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </p>
</div>
<script>document.onload = function() {init_datatable('you');}</script>
