{% extends "base.html" %}

{% load staticfiles %}

{% block extrastyle %}
    <link href="{% static 'css/jui_themes/smoothness/jquery-ui-1.10.3.custom.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'tasks/task.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block extrascript %}
    <!-- <script src="{% static 'js/jquery-ui-1.10.3.custom.js' %}"></script> TODO : importing jquery-ui locally does not have date-picker. -->
    <script src="{% static 'tasks/task.js' %}"></script>

{% endblock %}

{% block content %}
    <div class="row-fluid">
      <div class="span8 offset2 well">
        <center>
          <h3> {{title}} </h3>
          <h5> {{info}} </h5>

          <form action="" method="post">
            {% csrf_token %}
            {% if form.errors %}<p>Error in form</p>{% endif %}
            <table class="table zebra-striped" id="form_table">
              {{ form.as_table }}
            </table>
            <p><input type="submit" alt="Add Task" class="btn btn-primary span5" value="{{title}}" /></p>
          </center>
        </form>
      </div>
    </div>
  <!-- If JQuery is not added here, date-picker doesnt work .. figure out why ... -->
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#id_deadline" ).datepicker({
        showAnim: 'slide',
        dateFormat: 'd M yy',
    })
  });
  </script>

{% endblock %}
