{% extends "base.html" %}

{% load staticfiles %}

{% block extrastyle %}
    <link href="{% static 'css/jui_themes/smoothness/jquery-ui-1.10.3.custom.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'tasks/task.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block extrascripts %}
    <script src="{% static 'js/jquery-ui-1.10.3.custom.js' %}"></script> 
    <script src="{% static 'tasks/task.js' %}"></script>

    <script type="text/javascript">
        function submitform(){
          Dajaxice.tasks.process_intra_task(Dajax.process,{'serializedform':$('#taskform').serialize(true)});
          return false;
        }
    </script>
    

{% endblock %}

{% block content %}
    <div class="row-fluid">
      <div class="span8 offset2 well">
        <center>
          <h3> {{title}} </h3>
          <h5> {{info}} </h5>

            <form action="" method="post" id="taskform">
                {% csrf_token %}
                <div id="formerrors"></div>
                <table class="table zebra-striped" id="form_table">
                  {{ form.as_table }}
                </table>
                <p><input type="submit" alt="Add Task" class="btn btn-primary span5" value="{{title}}" onclick="submitform();"/></p>
            </form>
            
            
        </center>
      </div>
    </div>


{% endblock %}
