{% load staticfiles %}

<!-- Extra styles -->

<!-- Extra scripts -->

<!-- Content -->

    <form method="POST" action="" id="id_form_{{type}}_{% if model_instance %}{{model_instance.pk}}{% else %}new{% endif %}">
        {% csrf_token %}
        <table class="table table-bordered table-hover">
            <caption style="color:#758FB2;"><h3>{{type|title}} Details</h3></caption>
            {{form.as_table}}
        </table>
        <a class ="btn btn-info" href="#" onclick="Dajaxice.events.edit_{{type}}_post(Dajax.process, { {% if model_instance %} '{{type}}_pk' : '{{model_instance.pk}}', {% endif %} {% if tab_event_pk %} 'event_pk' : '{{tab_event_pk}}', {% endif %} 'edit_form' : $('#id_form_{{type}}_{% if model_instance %}{{model_instance.pk}}{% else %}new{% endif %}').serialize(true)});">
          Save changes
        </a>
        &nbsp;&nbsp;
        {% ifequal type 'tab' %} {% if model_instance %}
        <a class="btn btn-danger" href="#" onclick="Dajaxice.events.edit_tab_post(Dajax.process, {'tab_pk' : '{{model_instance.pk}}', 'event_pk' : '{{tab_event_pk}}', 'delete_tab' : 'delete'});">Delete<a>  
        {% endif %} {% endifequal %}
    </form>