
{% load staticfiles %}
{% load dajaxice_templatetags %}


<div id="editEventContainer">
<center>
    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <caption style="color:#758FB2;"><h3>Event Details</h3></caption>
            {{form.as_table}}
        </table>
        {% if error%}
            <p class="text-error">{{error}}</p>
        {% endif %}
        <br>
        <input class="btn btn-primary" type="Submit" value="Edit">
    </form>
    
    <a class="btn btn-inverse" href="/events/"> Back to Event Details </a>        
</center>
</div>
